---
import '../styles/global.css';

const SITE_NAME = 'Саша Чабин';
const SITE_DESCRIPTION = 'Сайт фронтенд-разработчика из Екатеринбурга';
const SITE_URL = 'https://nibach.ru';
---

<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content={SITE_DESCRIPTION} />
        <meta property="og:url" content={SITE_URL} />
        <meta property="og:type" content="website" />
        <meta propert.y="og:title" content={SITE_NAME} />
        <meta property="og:description" content={SITE_DESCRIPTION} />

        <title>{SITE_NAME}</title>

        <base target="_blank" />
    </head>
    <body>
        <main>
            <h1><code><abbr title="nibach — это мой любимый ник, который придумал мой одноклассник в 2006, прочитав наоборот фамилию Чабин">nibach</abbr></code></h1>
            <p>Привет! Я Саша Чабин. Мне 28 лет, я работаю <b>фронтенд-разработчиком</b> в <a href="https://kontur.ru">Контуре</a>.</p>
            <p>Контрибьючу в opensource и читаю курс про фронтенд и вёрстку студентам <a href="https://vk.com/@fiiturfu-prepodavatel-dolzhen-goret-tem-o-chem-rasskazyvaet?anchor=prepodavatel-dolzhen-goret-tem-o-ch-m-rasskazyvaet">ФИИТ УрФУ</a>.</p>
            <p>Помогаю разрабатывать веб-сервисы для активистов и некоммерческих организаций в Екатеринбурге.</p>

            <h2>Проекты</h2>
            <p>Чуть позже перенесу сюда ссылки и заметки о проектах, над которыми я работаю последние годы.</p>
            <p>В феврале 2024 рассказал о проектах и поделился тем, что мною движет в <a href="https://t.me/s/poslerabot/137">11 выпуске подкаста «После работы»</a>.</p>

            <h2>Соцсети</h2>
            <p>В соцсетях часто пишу что-нибудь про разработку и выкладываю фоточки с самыми разными людьми из самых разных мест.</p>
            <ul>
                <li>
                    <a href="https://twitter.com/nibach">twitter.com/nibach</a>
                </li>
                <li>
                    <a href="https://instagram.com/a.chabin">instagram.com/a.chabin</a>
                </li>
                <li>
                    <a href="https://github.com/sashachabin">github.com/sashachabin</a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/chabin">linkedin.com/in/chabin</a>
                </li>
            </ul>

            <h2>Напишите мне</h2>
            <p>Я всегда открыт к предложениям поучаствовать в классных опенсорс-инициативах.</p>
            <ul>
                <li>
                    <a href="https://t.me/nibach">t.me/nibach</a>
                </li>
                <li>
                    <a href="mailto:alex.chabin@gmail.com">alex.chabin@gmail.com</a>
                </li>
            </ul>
        </main>

        <footer>
            Дизайн и эту <button onclick="alert('пока я придумываю как настроить эту кнопку, загляните на сайт моей крутой коллеги Софи — там очень занятные заметки про CSS и веб-технологии')">брутальную кнопку</button> позаимствовал у <a href="https://ru.ariarzer.dev/">Софи Валитовой</a>
        </footer>
    </body>
</html>
